<div class="block tmar">
    <div class="grid-3 l"><div class="skeleton-text-line skeleton-btn"></div></div>
    <div class="grid-3 r"><div class="skeleton-text-line skeleton-btn"></div></div>
</div>

<div id="quetext" class="tmar">
    <div class="skeleton-text-line skeleton-heading"></div>
    <div class="skeleton-text-line grid-4 skeleton-heading"></div>
</div>
<div id="optext" class="tmar">
    <div class="skeleton-text-line skeleton-op"></div>
    <div class="skeleton-text-line skeleton-op"></div>
    <div class="skeleton-text-line skeleton-op"></div>
    <div class="skeleton-text-line skeleton-op"></div>
</div>
<div id="subtext" class="tmar block">
    <div class="skeleton-text-line grid-3 skeleton-btn r"></div>
</div>
