<mat-progress-bar mode="indeterminate" *ngIf="routeLoading"></mat-progress-bar>
<mat-toolbar color="primary" role="heading">
  <mat-toolbar-row>
    <button mat-icon-button (click)="snav.toggle();">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>
      <a *ngIf="!authService.isLoggedIn()" routerLink="/" class="twhite" (click)="sidebarToggle(snav, 1);">IQLEVEL</a>
      <a *ngIf="authService.isLoggedIn()" routerLink="/level" class="twhite" (click)="sidebarToggle(snav, 1);">IQLEVEL</a>
    </h1>
  </mat-toolbar-row>
  
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #snav mode="over" class="fixed">
    <mat-nav-list>
      <div class="mat-headline active tpad text-center" *ngIf="authService.isLoggedIn()" style="padding-top: 60px;">
        Hi, {{ authService.getUserData.name ? authService.getUserData.name : authService.getUserData.username }}
        <span class="mat-subheading-2 block" style="margin-bottom: 0">Age - {{ authService.getUserAge }}</span>
        <span class="mat-subheading-2 block">IQ - {{ authService.getUserScore }}</span>
      </div>
      <div class="block" *ngIf="!authService.isLoggedIn()">
        <a mat-list-item routerLink="/login" (click)="sidebarToggle(snav);" class="with-icon" style="padding-top: 60px;"><mat-icon>person</mat-icon>&nbsp; Login</a>
        <a mat-list-item routerLink="/register" (click)="sidebarToggle(snav);" class="with-icon"><mat-icon>person_add</mat-icon>&nbsp; Register</a>
        <a mat-list-item routerLink="/questions" (click)="sidebarToggle(snav);" class="with-icon"><mat-icon>help</mat-icon>&nbsp; Questions</a>
      </div>
      <a mat-list-item *ngIf="authService.isLoggedIn()" (click)="authService.logout(); sidebarToggle(snav);" class="with-icon"><mat-icon>power_settings_new</mat-icon>&nbsp; Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div [ngClass]="{ 
      'account': !routeHome,
      'block': routeHome
   }">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>