<!-- Google One Tap Sign IN -->
<span *ngIf="!authService.isLoggedIn() && !routeGauth">
  <app-google-one-tap></app-google-one-tap>
</span>

<mat-toolbar color="primary" role="heading">
  <mat-progress-bar mode="indeterminate" *ngIf="routeLoading"></mat-progress-bar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="snav.toggle();">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>
      <a *ngIf="!authService.isLoggedIn()" routerLink="/" (click)="sidebarToggle(snav)" class="twhite">IQLEVEL</a>
      <a *ngIf="authService.isLoggedIn()" routerLink="/level" (click)="sidebarToggle(snav)" class="twhite">IQLEVEL</a>
    </h1>
  </mat-toolbar-row>
  
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #snav mode="over" class="fixed">
    <mat-nav-list>
      <div class="mat-headline active tpad text-center" *ngIf="authService.isLoggedIn()" style="padding-top: 60px;">
        Hi, {{ authService.getUserData.name ? authService.getUserData.name : authService.getUserData.username }}
        <span class="mat-subheading-2 block" style="margin-bottom: 0">Age - {{ authService.getUserAge }}</span>
        <span class="mat-subheading-2 block">IQ - {{ authService.getUserScore }}</span>
      </div>
      <div class="block" *ngIf="!authService.isLoggedIn()">
        <a mat-list-item routerLink="/login" class="with-icon" style="padding-top: 60px;"><mat-icon>person</mat-icon>&nbsp; Login</a>
        <a mat-list-item routerLink="/register" class="with-icon"><mat-icon>person_add</mat-icon>&nbsp; Register</a>
        <a mat-list-item routerLink="/questions" class="with-icon"><mat-icon>help</mat-icon>&nbsp; Questions</a>
      </div>
      <div class="block" *ngIf="authService.isLoggedIn()">
        <a mat-list-item routerLink="/iq-test/history" class="with-icon"><mat-icon>history</mat-icon>&nbsp; History</a>
        <a mat-list-item routerLink="/iq-test/leaderboard" class="with-icon"><mat-icon>military_tech</mat-icon>&nbsp; Leaderboard</a>
        <!-- g_id_signout to sign out google and prohibit auto seletion -->
        <a mat-list-item (click)="authService.logout();" id="g_id_signout" class="with-icon g_id_signout"><mat-icon>power_settings_new</mat-icon>&nbsp; Logout</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div [ngClass]="{ 
      'account': !routeHome,
      'block': routeHome
   }">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>