
    <mat-card class="tmar">
        <div *ngIf="loading" class="skeleton-container">
            <!-- SKELETON STRUCTURE -->
            <app-que-skeleton></app-que-skeleton>
            <!-- END OF SKELETON -->
        </div>
        <div *ngIf="!loading && !errFlag" class="block">

            <div id="question" class="tmar">
                <div *ngIf="queres.question.questiontype == 1 || queres.question.questiontype == 3" class="mat-headline" 
                [innerHTML]="queres.question.question"></div>
                <div *ngIf="queres.question.questiontype == 2 || queres.question.questiontype == 3" class="mat-headline">
                    <div *ngFor="let qimg of queres.question.queimg" class="col-md-6 tmar">
                        <img class="img-holder" src="https://www.iqlevel.net/uploads/questions/{{ qimg }}" />
                    </div>
                </div>
            </div>

            <div id="options" class="tmar">
                <div class="block">
                    <div *ngIf="queres.question.optiontype == 1">
                        <div *ngFor="let op of queres.options" class="col-md-6">
                            <mat-card id="op-{{op.opid}}" class="tmar block pointer" [ngClass]="{
                                'bg-primary-sm': (ans_arr && ans_arr.indexOf(op.opid) != -1)
                            }" (click)="selAns(op.opid)">
                                <div *ngIf="op.optype == 1">{{ op.opans }}</div>
                                <div *ngIf="op.optype == 3">
                                    <img src="https://www.iqlevel.net/uploads/options/{{ op.opimg }}" class="op-img" />
                                </div>
                            </mat-card>
                        </div>
                    </div>

                    <div *ngIf="queres.question.optiontype == 2">
                        <mat-form-field class="block">
                            <input matInput type="text" id="qtans" name="qtans" placeholder="Type Your Answer Here..." required />
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div id="btns" class="block">
                <div class="block">
                    <button mat-raised-button color="primary" class="btn-c l" type="submit" (click)="openDialog();">Submit</button>
                    <a mat-raised-button color="accent" *ngIf="queres.next" class="btn-c l" type="submit" routerLink="/questions/{{queres.next}}">Next</a>
                </div>
            </div>

        </div>
        <!--ERROR-->
        <div *ngIf="errFlag">
            <a mat-raised-button class="btn-c grid-4 tmar l" color="primary" routerLink="/questions">Go Back</a>
            <a mat-raised-button class="btn-c grid-4 tmar r" color="warn" (click)="reload();">Refresh</a>
        </div>
    </mat-card>


